// Main 

body {
    font-family: 'Roboto';
    text-align: center;
}
.primary-btn {
    color: white; background-color: teal; border: none;
    height: 44px; padding: 0 32px; 
    border-radius: 5px; box-shadow: 0px 2px 3px gray;
    font-size: 14px;
}
.inline-btns {
    margin-top: 32px;
    .business-btn {margin-left: 48px;}
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 12px 0;
    border-bottom: 0.8px solid lightgray;

    .header-item-left {
        display: flex;
        align-items: center;

        .voice-icon {
            width: 30px;
            margin: 0 8px 0 20px;
        }

        span {
            font-size: 22px;
            color: gray;
        }
    }

    .header-item-right {
        display: flex; align-items: center;
        .for-business {
            margin-right: 24px;
            font-size: 14px;
            color: darkslategray;
        }
        .sign-in {
            margin-right: 32px;
            background-color: #1c72e8; color: white;
            border-radius: 4px;
            padding: 9px 24px;
            font-size: 14px;
            text-decoration: none;
        }
    }
}
.section {
    margin: 88px 0px 138px;
    h2 {margin-bottom: 20px;}
    p {font-weight: 300; margin: 0 41%}
    .section-img {
        max-width: 1000px;
    }
}
.alt-section {
    background-color: ghostwhite;
}

// About 
.hero-section {
    text-align: center;
    padding-top: 100px;
    margin: 0;
    .voice-icon {width: 90px;}
    .headline {
        margin-top: 48px;
        h1 {font-weight: 400; font-size: 56px;}
    }
    .subtitle {
        margin-top: 16px;
        h3 {font-weight: 300; font-size: 24px;}
    }
    .hero-image {
        margin: 88px 220px 0;
    }
}

.stay-connected-section {
    padding-top: 132px;
    p {margin-bottom: 102px;}

    .stay-connected-img-desktop {
        padding:0 80px;
    }
}

.feature-section {
    margin-bottom: 0;
    p {margin-bottom: 102px;}
    .feature-img-desktop {
        padding:0 80px;
    }
}

.get-voice-section {
    margin-top: 0;
    padding: 90px 0;
    .voice-icon {width: 90px;}
    h2 {font-size: 36px; margin-top: 48px;}
}

.footer {
    margin:50px auto;
    padding: 0 50px;
}

// Sign-In Page

.welcome-headline {
    width: 750px;
    text-align: left;
    margin: 60px auto;
    h2 {font-weight: 400;}
    p {margin: initial; margin-bottom: 32px;}
    .terms-conditions {
        font-size: 12px;
        margin-bottom: 32px;
    }
    .primary-btn {
        height: 35px;
        padding: 0 20px;
        box-shadow: none;
    }
}

.welcome-media {
    background-color: #14b6ff;
    margin-top: 50px;
}

// Mobile 
@media (max-width: 576px) {
    // About
    .inline-btns {
        .primary-btn {width: 170px;}
        .business-btn {margin: 16px auto 0; display: block;}
    }
    .section {
        h2 {font-size: 20px; padding: 0 20px;}
        p {font-size: 15px; padding: 0 20px; margin: 0 0 48px;}
        .section-img {max-width: 375px;}
    }
    .hero-section {
        .headline {
            h1 {font-size: 36px;}
        }
        .subtitle {
            h3 {font-size: 18px;}
        }
        .hero-image {margin: 88px auto 0; padding: 0 24px;}
    }
    .get-voice-section {
        h2 {font-size: 36px; margin-top: 48px;}
    }

    // Sign In 
    .welcome-headline {
        padding: 0 32px;
        margin: 60px auto 0;
        h2, p {margin: initial; padding: 0;}
    }
    .welcome-media {
        img {width: 100%}
    }
    
}